pkgbase = hyprland-git
	pkgdesc = Hyprland is an independent, highly customizable, dynamic tiling Wayland compositor that doesn't sacrifice on its looks
	pkgver = 0.55.4.r203.g25c57c7
	pkgrel = 1
	url = https://github.com/sitiyou/Hyprland
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = glaze
	makedepends = hyprland-protocols
	makedepends = meson
	makedepends = ninja
	makedepends = xorgproto
	depends = cairo
	depends = aquamarine
	depends = libaquamarine.so
	depends = libgcc
	depends = libstdc++
	depends = glibc
	depends = glib2
	depends = libgio-2.0.so
	depends = libgobject-2.0.so
	depends = glslang
	depends = hyprcursor
	depends = libhyprcursor.so
	depends = hyprgraphics
	depends = libhyprgraphics.so
	depends = hyprland-guiutils
	depends = hyprlang
	depends = libhyprlang.so
	depends = hyprutils
	depends = libhyprutils.so
	depends = hyprwayland-scanner
	depends = hyprwire
	depends = libhyprwire.so
	depends = lcms2
	depends = liblcms2.so
	depends = libdrm
	depends = libglvnd
	depends = libEGL.so
	depends = libGLESv2.so
	depends = libinput
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbcommon.so
	depends = libxrender
	depends = lua
	depends = mesa
	depends = muparser
	depends = opengl-driver
	depends = pango
	depends = libpango-1.0.so
	depends = libpangocairo-1.0.so
	depends = pixman
	depends = libpixman-1.so
	depends = re2
	depends = libre2.so
	depends = tomlplusplus
	depends = libtomlplusplus.so
	depends = util-linux-libs
	depends = libuuid.so
	depends = wayland
	depends = libwayland-server.so
	depends = wayland-protocols
	depends = xcb-proto
	depends = xcb-util
	depends = xcb-util-errors
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xorg-xwayland
	optdepends = cmake: to build and install plugins using hyprpm
	optdepends = cpio: to build and install plugins using hyprpm
	optdepends = glaze: to build and install plugins using hyprpm
	optdepends = hyprland-protocols: to build and install plugins using hyprpm
	optdepends = hyprshutdown: clean logout and shutdown helper
	optdepends = meson: to build and install plugins using hyprpm
	optdepends = uwsm: an advanced way to start desktop compositors as systemd units
	optdepends = xdg-desktop-portal-hyprland: xdg-desktop-portal backend for hyprland
	provides = hyprland=0.55.4
	provides = wayland-compositor
	conflicts = hyprland
	source = hyprland::git+https://github.com/sitiyou/Hyprland.git
	sha256sums = SKIP

pkgname = hyprland-git
